# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Alembic
alembic/versions/*.pyc

# OS files
.DS_Store
Thumbs.db